*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: rgba(0, 0, 0);
}

.form{
    text-align: center;
    padding: 20px;
}
.form img{
    max-width: 200px;
    width: 100%;
}

.form input[type="text"],
.form input[type="email"]{
    padding-left: 10px;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
    max-width: 500px;
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
}

.form textarea{
    resize: none;
    padding: 10px;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
    max-width: 500px;
    width: 100%;
    height: 120px;
}

.form input[type="submit"]{
    cursor: pointer;
    padding-left: 10px;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
    max-width: 500px;
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0);
    height: 35px;
    border: 1px solid rgb(255, 255, 255);
    
}